{
  "extends": [
    "react-app",
    "eslint:recommended"
  ],
  "rules": {
    "no-undef": "off",            // 정의되지 않은 변수 사용 허용
    "no-restricted-globals": "off" // 제한된 전역 변수 사용 허용
  },
  "overrides": [
    {
      "files": ["src/ckeditor/build/ckeditor.js"],
      "rules": {
        "no-undef": "off",
        "no-restricted-globals": "off",
        "no-unused-expressions": "off"
      }
    }
  ]
}
